<section class="hero-section d-flex justify-content-center align-items-center" id="">

    <div class="section-overlay"></div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <h2 style="background: -webkit-linear-gradient(#eee, #F2CC8F);-webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                    Học bổng đồng hành cùng học sinh các trường THPT
                </h2>

                <h1 class="cd-headline rotate-1 text-white mb-4 pb-2" style="text-shadow: rgb(150, 150, 150) 0.1em 0.1em 0.2em">
                    <span class="text-danger" >V</span><span class="text-warning">K</span><span class="text-primary">U</span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Nhân bản</b>
                        <b>Phụng sự</b>
                        <b>Khai phóng</b>
                    </span>
                </h1>

                <div class="custom-btn-group">
                    <a href="#gioi-thieu" class="btn custom-btn smoothscroll me-3">Tổng quan</a>

                    <a href="/hoc-bong-nhan-ban" class="link smoothscroll">Danh sách học bổng</a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="ratio ratio-16x9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4_xRDYpEtxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
</section>

<!-- gt-tc-md -->
<section class="about-section section-padding" id="gioi-thieu">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-lg-5 mb-4">Giới thiệu chung</h2>
            </div>

            <div class="col-lg-6 col-12 me-auto mb-4 mb-lg-0">
                <h3 class="mb-3">Qũy Nhân Bản VKU</h3>

                <p><%- aboutUs.introduction %></p>
            </div>
            <div class="col-lg-6 col-12 me-auto mb-4 mb-lg-0">
                <h3 class="mb-3">Tôn Chỉ & Mục Đích</h3>

                <p><%- aboutUs.missionStatementAndPurpose %></p>
            </div>

        </div>
    </div>
</section>
<!-- htpt -->
<section class="section-bg-image" id="hanh-trinh-phat-trien">
    <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="section-bg-image-block">
                    <h2 class="mb-lg-3">Hành trình phát triển</h2>

                    <p><%- aboutUs.developmentJourney %></p>

                    <!-- <form action="#" method="get" class="custom-form mt-lg-4 mt-2" role="form">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-envelope" id="basic-addon1"></span>

                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required="">

                            <button type="submit" class="form-control">Subscribe</button>
                        </div>
                    </form> -->
                </div>
            </div>

        </div>
    </div>

    <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>
</section>
<!-- bqlq -->
<% if(FMB.length > 0){ %>
<section class="events-section section-padding" id="" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
                <h2>Danh sách ban quản lý quỹ</h2>
            </div>
            <% FMB.forEach(function(item) { %>
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0 text-center">
                    <div class="member-block">
                        <div class="member-block-image-wrap" style="background-color: #eee;">
                            <% if(!item.avatar){ %>
                            <img src="/site/images/members/portrait-young-handsome-businessman-wearing-suit-standing-with-crossed-arms-with-isolated-studio-white-background.jpg" class="member-block-image img-fluid" alt="avatar">
                            <% } else { %>
                                <img src="/uploads/member/avatar/<%= item.avatar %>" style="height: 237px; width: 356;" class="text-center member-block-image img-fluid" alt="avatar">
                            <% } %>
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-whatsapp"></a>
                                </li>
                            </ul>
                        </div>

                        <div class="member-block-info d-flex align-items-center">
                            <h4><%= item.name %></h4>

                            <p class="ms-auto"><%= item.role %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<% } %>
<!-- fun fact -->
<% if(funFacts.length > 0){ %>
<section style="padding-top: 50px">
    <div class="section fun-facts">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="wrapper">
                <div class="row">
                <% funFacts.forEach(function(funFact) { %>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter">
                        <h2 class="timer count-title count-number" data-from="0" data-to="<%= funFact.statistics %>" data-speed="1000"></h2>
                        <p class="count-text "><%= funFact.name %></p>
                        </div>
                    </div>
                <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<% } %>
<!-- faq -->
<% if(faqs.length > 0){ %>
<section class="membership-section section-padding" style="padding-bottom: 0px;" id="cau-hoi-thuong-gap">
    <div class="section faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <div class="accordion" id="accordionExample">
                        <% faqs.forEach(function(faq) { %>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading<%= faq._id %>">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= faq._id %>" aria-expanded="true" aria-controls="collapseOne">
                                    <%= faq.question %>
                                    </button>
                                </h2>
                                <div id="collapse<%= faq._id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= faq._id %>" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <%= faq.answer %>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="section-heading">
                        <h2>Câu hỏi thường gặp</h2>
                        <p>Đây là một số câu hỏi thường gặp mà chúng tôi có thể giúp bạn với các gợi ý cho câu trả lời có sẵn. Ngoài ra bạn có thể liên hệ trực tiếp với chúng tôi nếu gặp bất cứ khó khăn nào khác.</p>
                        <div class="main-button mb-3">
                            <a href="#lien-he" class="smoothscroll" >Liên hệ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% } %>
<!-- partner-->
<% if(sponsors.length > 0){ %>
<section class="section-padding trigger section gutter-horizontal bg-gray gutter-vertical--m gutter-horizontal" style="padding-bottom: 0px;">
    <div class=" text-center">
        <h2 class="mb-4">Đối Tác & Nhà Tài Trợ</h2>
    </div>
    <div class="customer-logos slider" style="background-color: #eee;">
        <% sponsors.forEach(function(sponsor) { %>
            <div class="slide-in-right slide">
                <% if(!sponsor.avatar){ %>
                    <img style="border-radius: 50%;" src="/member/img/user.png" alt="sponsor img" height="150" width="150">
                <% } else {%>
                    <img style="border-radius: 50%;" src="/uploads/member/avatar/<%= sponsor.avatar %>" alt="sponsor img" height="150" width="150">
                <% } %>
                <p class="text-center mt-2"><%= sponsor.company %></p>
            </div>
        <% }) %>
    </div>
</section>
<% } %>
<!-- contact us -->
<section class="contact-section section-padding" id="lien-he">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12" style="margin-bottom: 15px;">
                <form action="/send-contact" method="post" class="custom-form contact-form" role="form" id="mySendContactForm">
                    <h2 class="mb-4 pb-2">Liên hệ với chúng tôi</h2>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-floating">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Họ & tên" required="">
                                
                                <label for="floatingInput">Họ & tên</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12"> 
                            <div class="form-floating">
                                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Địa chỉ Email" required="">
                                
                                <label for="floatingInput">Địa chỉ Email</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-12">
                            <div class="form-floating">
                                <textarea class="form-control" id="message" name="message" placeholder="Lời nhắn" required></textarea>
                                
                                <label for="floatingTextarea">Lời nhắn</label>
                            </div>

                            <button type="submit" class="form-control">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 col-12">
                <div class="contact-info mt-5">
                    <div class="contact-info-item">
                        <div class="contact-info-body text-center">
                            <strong><%= CSI.address %></strong>

                            <p class="mt-2 mb-1">
                                <a class="contact-link">
                                    <%= CSI.phoneNumber %>
                                </a>
                            </p>

                            <p class="mb-0">
                                <a class="contact-link">
                                    <%= CSI.email %>
                                </a>
                            </p>
                        </div>

                        <div class="contact-info-footer">
                            <a target="_blank" href="<%= CSI.maps %>">Tìm kiếm</a>
                        </div>
                    </div>

                    <img src="/site/images/WorldMap.svg" class="img-fluid" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
