<section class="hero-section hero-50 d-flex justify-content-center align-items-center" id="section_1">

    <div class="section-overlay"></div>

    <svg viewBox="0 0 1962 178" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#3D405B" d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z" stroke-width="0"></path> <path fill="#3D405B" d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z" stroke-width="0"></path> <path fill="#3D405B" d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z" stroke-width="0"></path><path fill="#3D405B" d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z" stroke-width="0"></path></svg>

    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">

                <h1 class="text-white mb-4 pb-2">Chi tiết học bổng</h1>

                <a href="#scholarshipDetail" class="btn custom-btn smoothscroll me-3">Xem chi tiết</a>
            </div>

        </div>
    </div>

    <svg viewBox="0 0 1962 178" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#ffffff" d="M 0 114 C 118.5 114 118.5 167 237 167 L 237 167 L 237 0 L 0 0 Z" stroke-width="0"></path> <path fill="#ffffff" d="M 236 167 C 373 167 373 128 510 128 L 510 128 L 510 0 L 236 0 Z" stroke-width="0"></path> <path fill="#ffffff" d="M 509 128 C 607 128 607 153 705 153 L 705 153 L 705 0 L 509 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 704 153 C 812 153 812 113 920 113 L 920 113 L 920 0 L 704 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 919 113 C 1048.5 113 1048.5 148 1178 148 L 1178 148 L 1178 0 L 919 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 1177 148 C 1359.5 148 1359.5 129 1542 129 L 1542 129 L 1542 0 L 1177 0 Z" stroke-width="0"></path><path fill="#ffffff" d="M 1541 129 C 1751.5 129 1751.5 138 1962 138 L 1962 138 L 1962 0 L 1541 0 Z" stroke-width="0"></path></svg>
</section>

<section class="events-section events-detail-section section-padding" id="scholarshipDetail" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-12 mx-auto">
                <div class="col-lg-12 col-12 text-center mx-auto">
                    <h2>Nội dung</h2>
                </div>

                <div class="custom-block-info">
                    <h3 class="mb-3"><%= scholarshipDetail.name %></h3>

                    <%- scholarshipDetail.content %>

                    <div class="events-detail-info row my-5">
                        <div class="col-lg-12 col-12">
                            <h4 class="mb-3">Thông tin</h4>
                        </div>

                        <div class="col-lg-4 col-12">
                            <span class="custom-block-span">Hết hạn:</span>

                            <p class="mb-0"><%= moment(scholarshipDetail.end_deadline).format('DD-MM-YYYY') %></p>
                        </div>

                        <div class="col-lg-4 col-12 my-3 my-lg-0">
                            <span class="custom-block-span">Số lượng:</span>
                            <% if(scholarshipDetail.total > 0){ %>
                                <p class="mb-0"><%= scholarshipDetail.total %> suất</p>
                            <% } else { %>
                                <p class="mb-0" style="color: red;">Hết suất</p>
                            <% } %>
                        </div>

                        <div class="col-lg-4 col-12">
                            <span class="custom-block-span">Giá trị/Suất:</span>

                            <p class="mb-0 formattedAmount"><%= scholarshipDetail.amount %> VNĐ</p>
                        </div>
                        
                        <div class="col-lg-12 col-12 mt-3">
                            <span class="custom-block-span">Tài trợ:</span>
                        </div>
                        <div class="col-lg-6 col-12">
                            <p class="mb-0"><%= scholarshipDetail.provider %></p>
                        </div>
                        <% if(scholarshipDetail.total > 0 && scholarshipDetail.end_deadline > new Date()){ %>
                            <div class="col-lg-6 col-12">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <a href="/uploads/scholarships/DonXinXetCapHB_2023.docx" class="btn custom-btn smoothscroll" download>Tải về mẫu đơn</a>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <a href="/nop-ho-so/<%= scholarshipDetail.slug %>/<%= scholarshipDetail._id %>" class="btn custom-btn smoothscroll">Nộp hồ sơ</a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>