<div class="right_col" role="main">
    <div class="page-title">
      <div class="title_left">
        <h3>Sponsorship Management Trash</h3>
        <div class="fa-hover col-md-3 col-sm-4"><a href="/api/admin/sponsorship-management" style="color: green;"><h5><i class="fa fa-reply"></i> Back</h5></a>
        </div>
      </div>
    </div>
  
    <div class="clearfix"></div>
  
    <div class="row">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-12 col-sm-12  text-center"></div>
              <div class="clearfix"></div>
              <% if(deletedUser.length > 0){ 
                deletedUser.forEach(function(delUser) { %>
                <div class="col-md-4 col-sm-4  profile_details">
                  <div class="well profile_view">
                    <div class="col-sm-12">
                      <h4 class="brief"><i><%= delUser.role %></i></h4>
                      <div class="left col-md-7 col-sm-7">
                        <h2><%= delUser.name %></h2>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-email"></i> Email: <%= delUser.email %></li>
                        <li><i class="fa fa-phone"></i> Phone: <%= delUser.phoneNumber %></li>
                        <li><i class="fa fa-building"></i> DOB: <%= moment(delUser.dob).format('DD-MM-YYYY') %></li>
                        <li><i class="fa fa-building"></i> Gender: <%= delUser.gender %></li>
                        <li><i class="fa fa-building"></i> Address: <%= delUser.address %></li>
                        <li><i class="fa fa-building"></i> Company: <%= delUser.company %></li>
                        </ul>
                      </div>
                      <div class="right col-md-5 col-sm-5 text-center">
                      <% if(!delUser.avatar) { %>
                        <img src="/admin/production/images/user.png" alt="" class="img-circle img-fluid">
                      <% } else { %>
                        <img src="/uploads/member/avatar/<%= delUser.avatar %>" alt="avatar" class="img-circle img-fluid">
                      <% } %>
                      </div>
                    </div>
                    <div class=" profile-bottom text-center">
                      <p><i class="fa fa-clock-o"></i> Deleted at: <%= moment(delUser.deletedAt).format('DD-MM-YYYY HH:mm A') %></p>
                      <div class=" col-sm-6 emphasis">
                        <a href="#" class="btn btn-info btn-sm btn-restore-delUser" onclick="confirmRestoreSponsor('<%= delUser._id %>', event)">
                          <i class="fa fa-recycle"></i> <small>Restore Member</small>
                        </a>
                      </div>
                      <div class=" col-sm-6 emphasis">
                        <a href="#" class="btn btn-danger btn-sm btn-destroy-delUser" onclick="confirmDestroySponsor('<%= delUser._id %>', event)">
                          <i class="fa fa-trash"></i> <small>Destroy Member</small>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <% })
                } else { %>
                <div class="alert alert-warning alert-dismissible " role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  No sponsors were found to be deleted in the system
                </div>
              <% } %>
          </div>
        </div>
    </div>
</div>

<script>
  //   // khôi phục sponsor
function confirmRestoreSponsor(SponsorId, event) {
  event.preventDefault();

  Swal.fire({
    title: 'Restore',
    text: 'Do you want to restore this user?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Restore',
    cancelButtonText: 'Cancel',
  }).then((result) => {
    if (result.isConfirmed) {
      // Nếu người dùng xác nhận xóa
      axios.patch(`/api/admin/restore-member/${SponsorId}`)
        .then((response) => {
          // thành công
          if(response.status === 200){
            Swal.fire('Successfully', response.data.message, 'success')
              .then(() => {
                location.reload(); // Reload lại trang
              });
          } else {
            Swal.fire('Failed', 'Something went wrong!', 'error');
          }
        })
        .catch((error) => {
          Swal.fire('Failed', 'Something went wrong!', 'error');
        });
    }
  });
}

// xóa vĩnh viễn FMB
function confirmDestroySponsor(SponsorId, event) {
  event.preventDefault();

  Swal.fire({
    title: 'Destroy',
    text: 'Do you want to permanently delete this user?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Destroy',
    cancelButtonText: 'Cancel',
  }).then((result) => {
    if (result.isConfirmed) {
      // Nếu người dùng xác nhận xóa
      axios.delete(`/api/admin/destroy-member/${SponsorId}`)
        .then((response) => {
          // Xóa thành công
          if(response.status === 200){
            Swal.fire('Successfully', response.data.message, 'success')
              .then(() => {
              location.reload(); // Reload lại trang
            });
          } else {
            Swal.fire('Failed', 'Something went wrong!', 'error');
          }
        })
        .catch((error) => {
          // Xử lý lỗi khi xóa không thành công
          Swal.fire('Failed', 'Something went wrong!', 'error');
        });
    }
  });
}
</script>