<div class="right_col" role="main">
  <div class="">
      <div class="page-title">
          <div class="fa-hover col-md-3 col-sm-4"><a href="/api/admin/all-faq" style="color: green;"><h5><i class="fa fa-reply"></i> Back</h5></a>
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
          <div class="col-md-12 col-sm-12  ">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Manage The FAQ In Trash</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Settings 1</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>

                <div class="x_content">
                  <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action" id="datatable">
                      <thead>
                        <tr class="headings">
                          <th>
                            <input type="checkbox" id="check-all" class="flat">
                          </th>
                          <th class="column-title">Question</th>
                          <th class="column-title">Answer</th>
                          <th class="column-title no-link last"><span class="nobr">Action</span>
                          </th>
                          <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        
                      <% if(deletedFaqs.length > 0){
                          deletedFaqs.forEach(function(delAnn) { %>
                            <tr class="even pointer">
                              <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                              </td>
                              <td>
                                <%= delAnn.question %>
                                <br />
                                <small>Deleted at: <%= moment(delAnn.deletedAt).format('DD-MM-YYYY HH:mm A') %></small>
                              </td>
                              <td class="truncate-answer"><%= delAnn.answer %></td>
                              <td class=" last">
                                <a href="#" class="btn btn-info btn-sm btn-restore-delAnn" onclick="confirmRestoreFaq('<%= delAnn._id %>', event)">
                                    <i class="fa fa-recycle"></i> <small>Restore</small>
                                </a>
                                <a href="#" class="btn btn-danger btn-sm btn-destroy-delAnn" onclick="confirmDestroyFaq('<%= delAnn._id %>', event)">
                                  <i class="fa fa-trash"></i> <small>Destroy</small>
                                </a>
                              </td>
                            </tr>
                        <% })
                      }else{ %>
                        <tr class="even pointer text-center">
                          <td colspan="8" style="color: brown; font-weight: bold;"> No records found</td>
                        </tr>
                      <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>
<script>
function truncateAnswerString() {
  const tableCells = document.querySelectorAll('td.truncate-answer');
  tableCells.forEach((cell) => {
    const content = cell.textContent;
  if (content.length > 50) {
    const truncatedContent = content.substring(0, 50) + '...';
    cell.textContent = truncatedContent;
  }
  });
}
truncateAnswerString();

//   // khôi phục faq
function confirmRestoreFaq(faqId, event) {
  event.preventDefault();

  Swal.fire({
    title: 'Restore',
    text: 'Do you want to restore this item?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Restore',
    cancelButtonText: 'Cancel',
  }).then((result) => {
    if (result.isConfirmed) {
      // Nếu người dùng xác nhận xóa
      axios.patch(`/api/admin/restore-faq/${faqId}`)
        .then((response) => {
          // thành công
          if(response.status === 200){
            Swal.fire('Successfully', response.data.message, 'success')
              .then(() => {
                location.reload(); // Reload lại trang
              });
          } else {
            Swal.fire('Failed', 'Something went wrong!', 'error');
          }
        })
        .catch((error) => {
          Swal.fire('Failed', 'Something went wrong!', 'error');
        });
    }
  });
}

// xóa vĩnh viễn faq
function confirmDestroyFaq(faqId, event) {
  event.preventDefault();

  Swal.fire({
    title: 'Destroy',
    text: 'Do you want to permanently delete this item?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Destroy',
    cancelButtonText: 'Cancel',
  }).then((result) => {
    if (result.isConfirmed) {
      // Nếu người dùng xác nhận xóa
      axios.delete(`/api/admin/destroy-faq/${faqId}`)
        .then((response) => {
          // Xóa thành công
          if(response.status === 200){
            Swal.fire('Successfully', response.data.message, 'success')
              .then(() => {
              location.reload(); // Reload lại trang
            });
          } else {
            Swal.fire('Failed', 'Something went wrong!', 'error');
          }
        })
        .catch((error) => {
          // Xử lý lỗi khi xóa không thành công
          Swal.fire('Failed', 'Something went wrong!', 'error');
        });
    }
  });
}
</script>

