<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="icon" href="/favicon.ico" type="image/ico" />

    <title>Admin Dashboard || VKU</title>

    <!-- Bootstrap -->
    <!-- <link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <link href="/admin/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Switchery -->
	<link href="/admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/admin/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="/admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <!-- <link href="/admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet"> -->
    <link href="/admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/admin/build/css/custom.min.css" rel="stylesheet">

    <!-- script  -->
    <script src="/admin/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/admin/vendors/moment/min/moment.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/api/admin/dashboard" class="site_title"><span>VKU</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/admin/production/images/user.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><%= adminInfo.name %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/api/admin/dashboard">Dashboard</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-book"></i> About Us Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/api/admin/about-us-management">General Introduction</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Announcement <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/api/admin/add-announcement">Add Announcement</a></li>
                      <li><a href="/api/admin/all-announcement">Manage Announcement</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> FAQ <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/api/admin/add-faq">Add FAQ</a></li>
                      <li><a href="/api/admin/all-faq">Manage FAQ</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Fun Fact <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/api/admin/add-fun-fact">Add Fun Fact</a></li>
                      <li><a href="/api/admin/all-fun-fact">Manage Fun Fact</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i> User Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/api/admin/fund-management">Fund Management</a></li>
                      <li><a href="/api/admin/partner-management">Partner Management</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> Client-side Interface <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/api/admin/client-side-interface-information">View Info</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="tables.html">Tables</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Chart JS</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="e_commerce.html">E-commerce</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="page_403.html">403 Error</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Level One</a>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>                  
                  <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page</a></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small" style="cursor: pointer;">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen" id="fullscreenButton">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <form id="logoutFooter" method="POST" action="/api/auth/logout?_method=DELETE">
                <a data-toggle="tooltip" data-placement="top" title="Logout" onclick="document.getElementById('logoutFooter').submit()" href="#">
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
              </form>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    <img src="/admin/production/images/user.png" alt=""><%= adminInfo.name %>
                  </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="/api/admin/admin-profile/<%= adminInfo._id %>">
                       <span class="badge bg-red pull-right"><%= adminInfo.role %></span>
                        <span>Profile</span>
                    </a>
                  <form id="logoutMenu" method="POST" action="/api/auth/logout?_method=DELETE">
                    <a data-toggle="tooltip" data-placement="top" class="dropdown-item" title="Logout" onclick="document.getElementById('logoutMenu').submit()" href="#">
                      <i class="fa fa-sign-out pull-right"></i> Log Out
                    </a>
                  </form>
                  </div>
                </li>

                <li role="presentation" class="nav-item dropdown open">
                  <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="/admin/production/images/user.png" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <div class="text-center">
                        <a class="dropdown-item">
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <%- body %>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            VKU
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- Bootstrap -->
    <script src="/admin/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/admin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/admin/vendors/skycons/skycons.js"></script>
    <!-- Switchery -->
    <script src="/admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Flot -->
    <script src="/admin/vendors/Flot/jquery.flot.js"></script>
    <script src="/admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/admin/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/admin/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/admin/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->

    <script src="/admin/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Datatables -->
    <script src="/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <!-- <script src="/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script> -->
    <!-- <script src="/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script> -->
    <script src="/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <!-- <script src="/admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script> -->
    <script src="/admin/vendors/jszip/dist/jszip.min.js"></script> <!--excel-->
    <script src="/admin/vendors/pdfmake/build/pdfmake.min.js"></script><!--pdf-->
    <script src="/admin/vendors/pdfmake/build/vfs_fonts.js"></script> <!--pdf-->

    <!-- Custom Theme Scripts -->
    <script src="/admin/build/js/custom.min.js"></script>

        
    <script> // fullscreen button 
      var fullscreenButton = document.getElementById('fullscreenButton');

      fullscreenButton.addEventListener('click', function() {
        if (!document.fullscreenElement) {
          if (document.documentElement.requestFullscreen) {
            document.documentElement.requestFullscreen();
          }
        } else {
          if (document.exitFullscreen) {
            document.exitFullscreen();
          }
        }
      });
    </script>


    <script>
     // lấy giá trị thông báo và gán vào biến tương ứng
      let adminSuccessMessage  = document.cookie
          .split("; ")
          .find((row) => row.startsWith("adminSuccessMessage="))
          ?.split("=")[1];
      let adminErrorMessage  = document.cookie
          .split("; ")
          .find((row) => row.startsWith("adminErrorMessage="))
          ?.split("=")[1];
      // Xóa cookies sau khi đã lấy giá trị
      document.cookie = 'adminSuccessMessage=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
      document.cookie = 'adminErrorMessage=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';

      let decodedAdminSuccessMessage = decodeURIComponent(adminSuccessMessage);
      let decodedAdminErrorMessage = decodeURIComponent(adminErrorMessage);
      // Hiển thị thông báo thành công
      if (adminSuccessMessage) {
          Swal.fire('Successfully!', decodedAdminSuccessMessage, 'success');
      }
      // Hiển thị thông báo thất bại
      if (adminErrorMessage) {
          Swal.fire('Failed!', decodedAdminErrorMessage, 'error');
      }
    </script>
    
    <script>
      // handle change password
      async function handleChangePassword() {
          const { value: formValues } = await Swal.fire({
              title: 'Change Password',
              html:
              '<input id="oldPassword" type="password" pattern="[0-9a-zA-Z@#$%&]{6,}" placeholder="Current password" class="swal2-input" required>' +
              '<input id="newPassword" type="password" pattern="[0-9a-zA-Z@#$%&]{6,}" placeholder="New password" class="swal2-input" required>',
              focusConfirm: false,
              showCancelButton: true,
              preConfirm: async () => {
                  const oldPassword = document.getElementById('oldPassword').value;
                  const newPassword = document.getElementById('newPassword').value;

                  try {
                      const response = await axios.post('/api/auth/reset-password', { oldPassword, newPassword });
                      if (response.status === 200) {
                          return response.data;
                      } else {
                          throw new Error('Password change failed. Please try again later');
                      }
                  } catch (error) {
                      Swal.showValidationMessage(`Error: ${error}`);
                  }
              },
              allowOutsideClick: () => !Swal.isLoading()
          }).then((result) => {
              if (result.isConfirmed) {
                  // Xử lý phản hồi từ máy chủ (nếu cần)
                  Swal.fire({
                      title: 'Successfully',
                      text: result.value.message,
                      icon: 'success'
                  });
              }
          });
      }
    </script>

    <!-- CKEditor textarea -->
    <script src="/admin/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editorAddAnnouncement',{
        extraPlugins: 'filebrowser',
        filebrowserUploadMethod : "form",
        filebrowserUploadUrl : "./imgCKEditor-announcement-upload"
      });
      CKEDITOR.replace('editorUpdateAnnouncement',{
        extraPlugins: 'filebrowser',
        filebrowserUploadMethod : "form",
        filebrowserUploadUrl : "./imgCKEditor-announcement-upload"
      });
    </script>

    <!-- <script type="text/javascript">
      setTimeout(() => {
          const boxAlert = document.getElementById('boxAlert');
          boxAlert.style.visibility = 'hidden';
      }, 3000);
    </script> -->

	
  </body>
</html>
