<div class="right_col" role="main">
  <div class="">
      <div class="page-title">
          <div class="fa-hover col-md-3 col-sm-4"><a href="/api/admin/all-scholarship" style="color: green;"><h5><i class="fa fa-reply"></i> Back</h5></a>
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
          <div class="col-md-12 col-sm-12  ">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Manage The Scholarship In Trash</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Settings 1</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>

                <div class="x_content">
                  <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action" id="datatable">
                      <thead>
                        <tr class="headings">
                          <th>
                            <input type="checkbox" id="check-all" class="flat">
                          </th>
                          
                          <th class="column-title">Name</th>
                          <th class="column-title">Amount</th>
                          <th class="column-title">Total</th>
                          <th class="column-title">Sponsor</th>
                          <th class="column-title">Start Date</th>
                          <th class="column-title">End Date</th>
                          <th class="column-title">Expiry Status</th>
                          <th class="column-title no-link last"><span class="nobr">Action</span>
                          </th>
                          <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        
                      <% if(deletedScholarships.length > 0){
                          deletedScholarships.forEach(function(delScholarship) { %>
                            <tr class="even pointer">
                              <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                              </td>
                              <td>
                                <%= delScholarship.name %>
                                <br />
                                <small>Deleted at: <%= moment(delScholarship.deletedAt).format('DD-MM-YYYY HH:mm A') %></small>
                              </td>
                              <td class="formattedAmount text-center"><%= delScholarship.amount %></td>
                              <td class="text-center"><%= delScholarship.total %></td>
                              <td><%= delScholarship.provider %></td>
                              <td><%= moment(delScholarship.start_deadline).format('DD-MM-YYYY') %></td>
                              <td><%= moment(delScholarship.end_deadline).format('DD-MM-YYYY') %></td>
                              <% if(delScholarship.end_deadline < new Date()) { %>
                                <td class="text-center"><img src="/site/images/expired.png" alt="statusIMG" width="60px"></td>
                              <% } else { %>
                                  <td class="text-center">
                                    
                                  </td>
                              <% } %>
                              <td class=" last">
                                <a href="#" class="btn btn-info btn-sm btn-restore-delScholarship" onclick="confirmRestoreScholarship('<%= delScholarship._id %>', event)">
                                    <i class="fa fa-recycle"></i> <small>Restore</small>
                                </a>
                                <a href="#" class="btn btn-danger btn-sm" onclick="confirmDestroyScholarship('<%= delScholarship._id %>', event)">
                                  <i class="fa fa-trash"></i> <small>Destroy</small>
                                </a>
                              </td>
                            </tr>
                        <% })
                      }else{ %>
                        <tr class="even pointer text-center">
                          <td colspan="8" style="color: brown; font-weight: bold;"> No records found</td>
                        </tr>
                      <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Lấy danh sách các thẻ <td> dựa trên lớp CSS
      var tdElements = document.getElementsByClassName('formattedAmount');

      // Lặp qua danh sách các thẻ <td>
      for (var i = 0; i < tdElements.length; i++) {
        var tdElement = tdElements[i];

        // Lấy nội dung của thẻ <td>
        var amount = tdElement.textContent;

        // Định dạng số tiền
        var formattedAmount = formatCurrency(amount);

        // Cập nhật nội dung trong thẻ <td> với số tiền đã định dạng
        tdElement.textContent = formattedAmount;
      }
    });

    function formatCurrency(amount) {
      var formattedValue = parseFloat(amount).toLocaleString('en-US');
      return formattedValue + " VNĐ";
  }

// khôi phục scholarship
function confirmRestoreScholarship(scholarshipId, event) {
  event.preventDefault();

  Swal.fire({
    title: 'Restore',
    text: 'Do you want to restore this item?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Restore',
    cancelButtonText: 'Cancel',
  }).then((result) => {
    if (result.isConfirmed) {
      // Nếu người dùng xác nhận xóa
      axios.patch(`/api/admin/restore-scholarship/${scholarshipId}`)
        .then((response) => {
          // thành công
          if(response.status === 200){
            Swal.fire('Successfully', response.data.message, 'success')
              .then(() => {
                location.reload(); // Reload lại trang
              });
          } else {
            Swal.fire('Failed', 'Something went wrong!', 'error');
          }
        })
        .catch((error) => {
          Swal.fire('Failed', 'Something went wrong!', 'error');
        });
    }
  });
}

// xóa vĩnh viễn scholarship
function confirmDestroyScholarship(scholarshipId, event) {
  event.preventDefault();

  Swal.fire({
    title: 'Destroy',
    text: 'Do you want to permanently delete this item?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Destroy',
    cancelButtonText: 'Cancel',
  }).then((result) => {
    if (result.isConfirmed) {
      // Nếu người dùng xác nhận xóa
      axios.delete(`/api/admin/destroy-scholarship/${scholarshipId}`)
        .then((response) => {
          // Xóa thành công
          if(response.status === 200){
            Swal.fire('Successfully', response.data.message, 'success')
              .then(() => {
              location.reload(); // Reload lại trang
            });
          } else {
            Swal.fire('Failed', 'Something went wrong!', 'error');
          }
        })
        .catch((error) => {
          // Xử lý lỗi khi xóa không thành công
          Swal.fire('Failed', 'Something went wrong!', 'error');
        });
    }
  });
}
</script>

