<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            <h3>About Us Management</h3>
            </div>
        </div>
        
        <div class="clearfix"></div>
        <% if(aboutUs){%>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>General Introduction</h2>
                            
                            <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                
                            <div class="col-md-5 col-sm-5 ">
                                <div class="product-image">
                                    <img src="/site/images/logoVKU.png" alt="IMG" />
                                </div>
                            </div>
                
                            <div class="col-md-7 col-sm-7 " style="border:0px solid #e5e5e5;">
                                <h3 class="prod_title">General introduction of VKU cloning fund</h3>
                                
                                <p><%- aboutUs.introduction %></p>
    
                                <button onclick="showEditGeneralIntroductionForm('<%= aboutUs._id %>')" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Update General Introduction</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Development Journey</h2>
                            
                            <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                
                            <div class="col-md-5 col-sm-5 ">
                                <div class="product-image">
                                    <img src="/site/images/development-journey.jpg" alt="IMG" />
                                </div>
                            </div>
                
                            <div class="col-md-7 col-sm-7 " style="border:0px solid #e5e5e5;">
                                <h3 class="prod_title">Development Journey</h3>
                                
                                <p><%- aboutUs.developmentJourney %></p>

                                <button onclick="showEditDevelopmentJourneyForm('<%= aboutUs._id %>')" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>  Update Development Journey</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Mission Statement & Purpose</h2>
                            
                            <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                
                            <div class="col-md-7 col-sm-7 " style="border:0px solid #e5e5e5;">
                                <div class="product_gallery">
                                    <div class="">
                                        <div class="product_price">
                                            <h3 style="font-weight: 400; color: #26B99A; margin: 0;">Mission Statement & Purpose</h3>
                                            <span class="price-tax" id="missionStatementAndPurposeContent"><%- aboutUs.missionStatementAndPurpose %></span>
                                        </div>
                                    </div>
                                </div>
                                <button onclick="showEditMissionStatementAndPurposeForm('<%= aboutUs._id %>')" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Update Mission Statement And Purpose</button>
                            </div>

                            <div class="col-md-5 col-sm-5 ">
                                <div class="product-image">
                                    <img src="/site/images/nn.jpg" alt="IMG" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %> 
    </div>
</div>

<script>
    // handle update General introduction
    function showEditGeneralIntroductionForm(aboutUsId) {
        const oldContent = `<%- aboutUs.introduction %>`;
        Swal.fire({
            title: 'Editing The General Introduction',
            html: '<div id="generalIntroductionContentTextarea"></div>',
            showCancelButton: true,
            focusConfirm: false,
            didOpen: () => {
                CKEDITOR.replace('generalIntroductionContentTextarea',{
                    extraPlugins: 'filebrowser',
                    filebrowserUploadMethod : "form",
                    filebrowserUploadUrl : "/api/admin/imgCKEditor-general-introduction-upload"
                });

                // Đặt nội dung cũ vào CKEditor
                CKEDITOR.instances.generalIntroductionContentTextarea.setData(oldContent);

                document.querySelector('.swal2-modal').style.width = 'auto';
            },
            preConfirm: async () => {
                const editorData = CKEDITOR.instances.generalIntroductionContentTextarea.getData();

                if (!editorData) {
                    Swal.showValidationMessage('Please enter the content.');
                    return false;
                }

                try {
                    const response = await axios.put(`/api/admin/update-general-introduction/${aboutUsId}`, {
                        generalIntroduction: editorData
                    });

                    return response.data;
                } catch (error) {
                    Swal.showValidationMessage(`Error: ${error}`);
                }
            },
            willClose: () => {
                CKEDITOR.instances.generalIntroductionContentTextarea.destroy();
            }
        }).then(result => {
            if (result.isConfirmed) {
                Swal.fire('Successfully', result.value.message, 'success').then(() => {
                    location.reload();
                });
            }
        });
    }

    // handle update Development Journey
    function showEditDevelopmentJourneyForm(aboutUsId) {
        const oldContent = `<%- aboutUs.developmentJourney %>`;
        Swal.fire({
            title: 'Editing The Development Journey',
            html: '<div id="developmentJourneyContentTextarea" ></div>',
            showCancelButton: true,
            focusConfirm: false,
            didOpen: () => {
                CKEDITOR.replace('developmentJourneyContentTextarea',{
                    extraPlugins: 'filebrowser',
                    filebrowserUploadMethod : "form",
                    filebrowserUploadUrl : "/api/admin/imgCKEditor-development-journey-upload"
                });

                // Đặt nội dung cũ vào CKEditor
                CKEDITOR.instances.developmentJourneyContentTextarea.setData(oldContent);

                document.querySelector('.swal2-modal').style.width = 'auto';
            },
            preConfirm: async () => {
                const editorData = CKEDITOR.instances.developmentJourneyContentTextarea.getData();

                if (!editorData) {
                    Swal.showValidationMessage('Please enter the content.');
                    return false;
                }

                try {
                    const response = await axios.put(`/api/admin/update-development-journey/${aboutUsId}`, {
                        developmentJourney: editorData
                    });

                    return response.data;
                } catch (error) {
                    Swal.showValidationMessage(`Error: ${error}`);
                }
            },
            willClose: () => {
                CKEDITOR.instances.developmentJourneyContentTextarea.destroy();
            }
        }).then(result => {
            if (result.isConfirmed) {
                Swal.fire('Successfully', result.value.message, 'success').then(() => {
                    location.reload();
                });
            }
        });
    }

    // handle update Mission Statement And Purpose
    function showEditMissionStatementAndPurposeForm(aboutUsId) {
        const oldContent = `<%- aboutUs.missionStatementAndPurpose %>`;
        // Lấy nội dung cũ từ một nguồn dữ liệu, ví dụ: từ server
        Swal.fire({
            title: 'Editing The Mission Statement & Purpose',
            html: '<div id="missionStatementAndPurposeContentTextarea" ></div>',
            showCancelButton: true,
            focusConfirm: false,
            didOpen: () => {
                CKEDITOR.replace('missionStatementAndPurposeContentTextarea',{
                    extraPlugins: 'filebrowser',
                    filebrowserUploadMethod : "form",
                    filebrowserUploadUrl : "/api/admin/imgCKEditor-mission-statement-and-purpose-upload"
                });

                // Đặt nội dung cũ vào CKEditor
                CKEDITOR.instances.missionStatementAndPurposeContentTextarea.setData(oldContent);

                document.querySelector('.swal2-modal').style.width = 'auto';
            },
            preConfirm: async () => {
                const editorData = CKEDITOR.instances.missionStatementAndPurposeContentTextarea.getData();

                if (!editorData) {
                    Swal.showValidationMessage('Please enter the content.');
                    return false;
                }

                try {
                    const response = await axios.put(`/api/admin/update-mission-statement-and-purpose/${aboutUsId}`, {
                        missionStatementAndPurpose: editorData
                    });

                    return response.data;
                } catch (error) {
                    Swal.showValidationMessage(`Error: ${error}`);
                }
            },
            willClose: () => {
                CKEDITOR.instances.missionStatementAndPurposeContentTextarea.destroy();
            }
        }).then(result => {
            if (result.isConfirmed) {
                Swal.fire('Successfully', result.value.message, 'success').then(() => {
                    location.reload();
                });
            }
        });
    }
</script>
